{
  "http": {
    "routers": {
      "juju-{{ identifier }}-router-root": {
        "entryPoints": ["web", "websecure"],
        "rule": "PathPrefix(`/if`, `/flows`, `/api`, `/.well-known`, `/static`, `/media`, `/application/o`, `/outpost.goauthentik.io`, `/brand`, `/oauth2`)",
        "service": "juju-{{ identifier }}-service"
        {%- if external_host %},
        "tls": {
          "domains": [{ "main": "{{ external_host }}" }]
        }
        {%- endif %}
      }
    },
    "services": {
      "juju-{{ identifier }}-service": {
        "loadBalancer": {
          "servers": [{ "url": "http://{{ app }}.{{ model }}.svc.cluster.local:{{ port }}" }]
        }
      }
    }
  }
}
